src/
Dependencies/
jest.config*js
tsconfig.json
package-lock.json
yarn.lock
.circleci
.github
.vscode
commitlint.config.js
docs/
CODE_OF_CONDUCT.md
SECURITY.md

# test files
/lib/**/*.test.d.ts
/lib/**/*.test.js
/lib/**/*.test.js.map
